language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2

sudo: false

before_script:
  - composer self-update
  - travis_retry composer install --no-interaction --prefer-source

script:
  - mkdir -p build/logs
  - phpunit --coverage-clover build/logs/clover.xml

after_script:
  - php vendor/bin/coveralls -v
