<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="PHPProxy Test Suite">
            <directory>tests/Proxy/</directory>
        </testsuite>
    </testsuites>
</phpunit>
